@font-face {
  font-family: "Azonix";
  src: url("./assets/fonts/azonix.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "azonix", sans-serif;
}

/* BACKGROUND */

#gradient-canvas {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  --gradient-color-1: #181818;
  --gradient-color-2: #d4001c;
  --gradient-color-3: #3305a7;
  --gradient-color-4: #ffba27;
}

/* MAIN */

.glslCanvas {
  height: 100vh;
  width: 20vw;
  position: absolute;
  top: 0;
  filter: drop-shadow(0 0 5px black);
  /* transform: translateX(-20vw); */
  transition: all 0.5s;
  border: 2px red solid;
}
.glslCanvas:hover {
  transform: translateX(0%);
}

#credits {
  height: 20px;
  flex-grow: 0;
  font-size: 8px;
  white-space: nowrap;
}
#credits a {
  color: #eee;
}

html,
body {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

body {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
section {
  flex-grow: 1;
  display: grid;
  place-items: center;
}

/* CENTER SECTION */

#centersection {
  filter: url("#distortion");
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#centercontent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  filter: drop-shadow(0 0 2px black);
  max-width: 90vw;
}
#centerimageWrapper {
  position: relative;
}

#centerimage {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 0.2rem;
  filter: invert();
  object-fit: scale-down;
}

#centertext {
  fill: whitesmoke;
  font-size: 16px;
}

#socials {
  position: absolute;
  left: 0;
  bottom: calc(100% + 2vh);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
}

#socials i {
  color: whitesmoke;
}
#socials i:hover {
  opacity: 0.5;
}

/* SONG SECTION */

/* INFO SECTION */

/* ABOUT */

/* PLAYPAUSE */

/* animations */

@keyframes show-faces {
  0% {
    transform: scale(1);
    transform-origin: 50% 50%;
  }
  10% {
    transform: scale(2);
    transform-origin: 50% 0%;
  }
  25% {
    transform: scale(3);
    transform-origin: 0% 0%;
  }
  40% {
    transform: scale(2.3);
    transform-origin: 100% 70%;
  }
  55% {
    transform: scale(3.2);
    transform-origin: 25% 10%;
  }
  70% {
    transform: scale(3);
    transform-origin: 90% 20%;
  }
  85% {
    transform: scale(2.5);
    transform-origin: 10% 50%;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 50%;
  }
}
@keyframes rotation {
  0% {
    transform: perspective(1000px);
  }
  100% {
    transform: perspective(1000px) rotate3d(1, 1, 0, 360deg);
  }
}
/* queries */

@media (min-width: 568px) {
  body {
    display: grid;
    grid-template-columns: 1fr 35vw 1fr;
    grid-template-rows: 1fr 20px;
    grid-template-areas:
      "a b c"
      "d d d";
  }
  #songsection,
  #centersection,
  #infosection {
    height: calc(100vh - 20px);
  }

  #songsection {
    grid-area: a;
  }
  #centersection {
    grid-area: b;
  }
  #infosection {
    grid-area: c;
  }

  #socials {
    height: 100%;
    left: calc(100% + 2vw);
    top: 0;
    flex-direction: column;
    font-size: 40px;
    bottom: unset;
    width: unset;
  }

  #credits {
    grid-area: d;
    width: 100%;
  }
}
