@font-face {
  font-family: "Azonix";
  src: url("./assets/fonts/azonix.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "azonix", sans-serif;
}

svg {
  display: none;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #2a4e9c, #e01c36);
  background-size: 400% 400%;
  /* to do: find a better way of having moving gradient without gpu frying */
  /* animation: moving-gradient 15s ease-in-out infinite alternate; */
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
}
section {
  flex-grow: 1;
  display: grid;
  place-items: center;
}

#center {
  filter: url("#blob") drop-shadow(0 0 50px whitesmoke);
  mix-blend-mode: luminosity;
  /* mix-blend-mode: multiply; */
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#center-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 2px black);
  max-width: 60%;
  overflow: hidden;
}

#centerlogo {
  width: 100%;
  margin-bottom: 0.2rem;
  /* filter: invert(); */
}
#centerlogo:hover {
  cursor: pointer;
}
#center-content:hover {
  /* animation: rotation 2.5s ease-in-out 1; */
  /* filter: none; */
}

#center.about #center-content {
  transform: scale(1.5);
}

#center.about #centerlogo {
  animation: show-faces 20s cubic-bezier(0.165, 0.84, 0.44, 1) 3s 1 alternate;
  /* filter: none; */
}

#center.about #logotype {
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
  font-size: 1rem;
}

#logotype {
  width: 100%;
  font-size: calc(100vw * 0.6 / 6.11);
  text-align: left;
  color: transparent;
  background-image: linear-gradient(90deg, black 50%, whitesmoke 50%);
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  word-wrap: break-word;
  background-position-x: 100%;
}

.playing #logotype:hover {
  cursor: crosshair;
}
.paused #logotype:hover {
  cursor: move;
}

ul,
li {
  list-style-type: none;
  width: 100%;
}

ul {
  display: none;
}

li.active::before,
li.active::after {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

li.active::before {
  content: "<";
}
li.active::after {
  content: ">";
}

li {
  width: 100%;
  cursor: pointer;
  transition: 0.2s all;
  position: relative;
  display: none;
  height: 100%;
  text-align: center;
}

li.active {
  display: block;
}

.logo {
  text-align: center;
  color: whitesmoke;
  width: 40px;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.logo img {
  width: 100%;
  margin-bottom: 0.2rem;
  border-radius: 8px;
  filter: invert();
  mix-blend-mode: lighten;
}

#about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 40px;
}
#about i {
  color: whitesmoke;
}
#about i:hover {
  color: rgba(255, 255, 255, 0.5);
}

#songs h1,
#songs li {
  filter: drop-shadow(0px 3px 2px #333);
  cursor: pointer;
}

/* animations */

@keyframes moving-gradient {
  0% {
    background-position: top;
  }
  33% {
    background-position: left;
  }
  66% {
    background-position: right;
  }
  100% {
    background-position: bottom;
  }
}

@keyframes show-faces {
  0% {
    transform: scale(1);
    transform-origin: 50% 50%;
  }
  10% {
    transform: scale(2);
    transform-origin: 50% 0%;
  }
  25% {
    transform: scale(3);
    transform-origin: 0% 0%;
  }
  40% {
    transform: scale(2.3);
    transform-origin: 100% 70%;
  }
  55% {
    transform: scale(3.2);
    transform-origin: 25% 10%;
  }
  70% {
    transform: scale(3);
    transform-origin: 90% 20%;
  }
  85% {
    transform: scale(2.5);
    transform-origin: 10% 50%;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 50%;
  }
}
@keyframes rotation {
  0% {
    transform: perspective(1000px);
  }
  100% {
    transform: perspective(1000px) rotate3d(1, 1, 0, 360deg);
  }
}
/* queries */

@media (min-width: 768px) {
  body {
    flex-direction: row;
  }

  section {
    display: grid;
    width: 25vw;
  }
  #center {
    width: 50vw;
    flex-grow: 1;
  }
  #logotype {
    /* text-shadow: whitesmoke 0 0 2px; */
    font-size: calc(50vw * 0.6 / 6.11);
  }
  html {
    font-size: 20px;
  }
  li.active::before,
  li.active::after {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  li.active::before {
    content: "^";

    padding-bottom: 1rem;
  }
  li.active::after {
    content: "^";
    transform: rotateZ(180deg);
    padding-bottom: 1rem;
  }
  #about {
    flex-direction: column;
  }
}
