@font-face {
  font-family: "Azonix";
  src: url("./assets/azonix.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "azonix", sans-serif;
}

svg {
  display: none;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #000046, #e01c36);
  background-size: 400% 400%;
  color: transparent;
  animation: moving-gradient 15s ease-in-out infinite alternate;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
section {
  flex-grow: 1;
  display: grid;
  place-items: center;
}

#center {
  filter: url("#blob");
  mix-blend-mode: luminosity;
  /* mix-blend-mode: multiply; */
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#center-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 2px black);
}

#centerlogo {
  width: 100%;
  margin-bottom: 0.1rem;
  filter: invert();
}
#centerlogo:hover {
  cursor: pointer;
}

#logotype {
  /* text-shadow: whitesmoke 0 0 2px; */
  width: 100%;
  font-size: calc((100vw - 2rem) * 0.6 / 6.11);
  text-align: left;
  color: transparent;
  background-image: linear-gradient(90deg, black 50%, whitesmoke 0%);
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  word-wrap: break-word;
  background-position-x: 0%;
}

ul,
li {
  list-style-type: none;
  width: 100%;
}

ul {
  display: none;
}

li.active::before,
li.active::after {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

li.active::before {
  content: "<";
}
li.active::after {
  content: ">";
}

li {
  width: 100%;
  cursor: pointer;
  transition: 0.2s all;
  position: relative;
  display: none;
  height: 100%;
  text-align: center;
}

li.active {
  display: block;
}

.logo {
  text-align: center;
  color: whitesmoke;
  width: 40px;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.logo img {
  width: 100%;
  margin-bottom: 0.2rem;
  border-radius: 8px;
  filter: invert();
  mix-blend-mode: lighten;
}

#about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 40px;
  filter: drop-shadow(0px 3px 2px #333);
}
#about i {
  color: whitesmoke;
}

#songs h1,
#songs li {
  filter: drop-shadow(0px 3px 2px #333);
  cursor: pointer;
}

/* animations */

@keyframes moving-gradient {
  0% {
    background-position: top;
  }
  33% {
    background-position: left;
  }
  66% {
    background-position: right;
  }
  100% {
    background-position: bottom;
  }
}

/* queries */

@media (min-width: 768px) {
  body {
    flex-direction: row;
  }

  section {
    display: grid;
    width: 25vw;
  }
  #center {
    width: 50vw;
    flex-grow: 1;
  }
  #logotype {
    /* text-shadow: whitesmoke 0 0 2px; */
    font-size: calc((50vw - 2rem) * 0.6 / 6.11);
  }
  html {
    font-size: 20px;
  }
  li.active::before,
  li.active::after {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  li.active::before {
    content: "^";

    padding-bottom: 1rem;
  }
  li.active::after {
    content: "^";
    transform: rotateZ(180deg);
    padding-bottom: 1rem;
  }
  #about {
    flex-direction: column;
  }
}
